
  @media print {
       .page-break { page-break-after: always; }
      }
      /*@media screen {
        .page-break {float:left;}
      }*/

/*.d{
    float:right;
    margin-right: 5px;
    text-align: center;
    font-size: 15px;
    width: 220px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-spacing:  0px;
    }*/


#contenedor{
  width: 350px;
  height: auto;
  border-style:solid;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

td{
  font-size: 11.6px;
 
}
.o{
  text-align: center;
  border-spacing:  0px;
}
